<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand p-3 ml-3" href="#">TODO-LIST</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      
    
      
    </ul>
   
  </div>
</nav>
<div class="container mt-5" >
  <h1 class="text-center mb-5">Todo List By <strong class="text-danger">Alok Sinha</strong> </h1>
<app-todos></app-todos>

</div>