<div class="container my-3">
<h4>Add Your Todo</h4>

<form  (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" >Todo Title</label>
      <input type="text" [(ngModel)]="title" class="form-control" name="title" id="title" placeholder="todo">
    
    </div>
    <div class="mb-3">
      <label for="descripton" class="form-label">Description</label>
      <input type="text" [(ngModel)]="desc" class="form-control" id="desc" name = "desc" placeholder="description">
    </div>
      
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>